# File path: /etc/systemd/system/one-api.service
# sudo systemctl daemon-reload
# sudo systemctl start one-api
# sudo systemctl enable one-api
# sudo systemctl status one-api
[Unit]
Description=One API Service
After=network.target

[Service]
User=ubuntu 
WorkingDirectory=/path/to/o-api #change here
ExecStart=/path/to/fm-management-app/fm-management-app --port 3000 --log-dir /path/to/fm-management-app/logs #change here
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
